.product{
    display:flex;
    border-bottom: 1px solid lightgrey;
    margin-right: 10px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.product-name{
    color:blue;
    font-weight: 400;
}

.button{
    background-color: rgb(250, 199, 72);
    width:150px;
    height:30px;
    border: 2px soild black;
    border-radius: 5px;
    cursor: pointer;
}